*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100%;
    display:flex ;
    flex-direction: column;
    text-align: center;
}
.para{
    font-size: 18px;
}
.us{
    font-size: 2rem;
}
.about{
    width: 90%;
    margin-left: 5rem;
    text-align: justify;
}
.mission{
    width: 90%;
    margin-left: 5rem;
    text-align: justify;
}
.profile-grid{
    width: 90%;
    margin-left: 5rem;
    border-radius: 5px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.card {
    background-color: beige;
    border-radius: 5px;
    width: 12rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.card img{
    height: 10rem;
    width: 10rem;
    border-radius: 60%;
}

.card img:hover{
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}

/* responsiveee */
@media screen and (min-width:498px)and (max-width:969px){
    .profile-grid{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
         margin: 20px 20px;
    }
    .card{
          /* padding: 5px 5px; */
          margin: 10px 10px;
    }
    .about{
         margin: 20px 20px;
    }
    .mission{
         margin: 20px 20px;
    }
}

@media screen and (max-width:497px){
    .profile-grid{
        /* display: grid;
        grid-template-columns: repeat(1,1fr); */
        /* max-width: 400px;
        margin: 0 auto; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 5px 10px;
         /* display: flex;
        flex-direction: column;
       justify-content: space-evenly; */

    }
    .card{
        margin: 5px 5px;
        padding: 5px 5px;

    }
    .about{
        margin: 5px 10px;
    }
    .mission{
        margin: 5px 10px;
    }
    .header-img{
        width: 250px;
        /* height: 100px; */
    }
    /* img{
        width: 250px;
    } */
     .lineimg{
        width: 250px;
     }
    .us{
        font-size: 1.8rem;
    }
    /* .mis{
        font-size: 3rem;
    } */
}
@media screen and (min-width:970px)and (max-width:1080px){
    .profile-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px 35px;
        gap: 20px;
    }

}