{% extends 'base.html' %}

{% block content %}

<div class="col-10">
    <div class="container-fluid">
        <link rel="stylesheet" href="/static/about_us(1).css">
            <div class="container mb-3">
                <div class="top">
                    <h2 style="color:#7d7816; margin-bottom: 0px;">ABOUT US</h2>
                    <img src="/static/line_pic.png" alt="line" class="header-img" style="margin-top: -6px;">
                    <img src="/static/pencil_img.png" alt="pencil" class="header-img1" style="margin-top: -16px;">
                    <h5 style="color: #c100ff;">Our Mission, Brief of developers and the Client</h5>
                </div>
                <!-- about us -->
                <div class="about">
                    <h1 class="us" style="color: #7d7816; font-size: 1.6rem">ABOUT US : </h1>
                    <h4 class="para" style="font-size:1rem">Welcome to the Faculty Information Portal, a platform designed to
                        streamline administrative access to essential faculty data. This portal simplifies academic interactions by
                        offering a centralized hub for faculty profiles, including their subjects, research interests, achievements,
                        and contact details. By providing a transparent, accessible, and efficient communication bridge, the portal
                        ensures seamless interaction between faculty and administrators.</h4>
                </div>
                <!-- mission -->
                <div class="mission">
                    <h1 class="us" style="color: #7d7816; font-size: 1.6rem;">OUR MISSION : </h1>
                    <h4 class="para" style="font-size:1rem">
                        To create a digital academic ecosystem where faculty and Admin stay connected, informed, and empowered.
                        The most important thing is that the Admin have the access to all the data of the faculty in just one click.
                        This increase the ease for the Admin to have collectivelty have all the information at a time.
                    </h4>
                </div>

                <div class="heading">
                    <h2 style="color: #8571f6;">Meet our Developers...</h2>
                    <img src="/static/line_pic.png" alt="pic of line" style="margin-top: -25px;margin-left: -26px;"
                        class="lineimg">
                    <h5 style="color: #c100ff; margin-top: -12px;">Four Professional working together</h5>
                </div>
                <div class="profile-grid">
                    <div class="card">
                        <img src="/static/uttkarsh.png" alt="leader_img" class="uttimg">
                        <b class="b-1">UTTKARSH YADAV</b>
                        <p>Backend Devloper</p>

                        <a href="https://www.linkedin.com/in/uttkarsh-yadav-113bb336a/" target="_blank"><i
                                class="fa-brands fa-linkedin" style="font-size: 35px;"></i></a>

                    </div>
                    <div class="card">
                        <img src="/static/yogesh.png" alt="leader_img" class="uttimg">
                        <b class="b-1">YOGESH SINGH</b>
                        <p>Frontend Devloper</p>
                        <a href="https://www.linkedin.com/in/yogesh-singh-380348320/" target="_blank"><i
                                class="fa-brands fa-linkedin" style="font-size: 35px;"></i></a>

                    </div>
                    <div class="card">
                        <img src="/static/tarun.png" alt="leader_img" class="uttimg">
                        <b class="b-1">TARUN SONI</b>
                        <p>Frontend Devloper</p>
                        <a href="https://www.linkedin.com/in/tarun-soni-a58227345?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                            target="_blank"><i class="fa-brands fa-linkedin" style="font-size: 35px;"></i></a>

                    </div>
                    <div class="card">
                        <img src="/static/yuvraj.png" alt="leader_img" class="uttimg">
                        <b class="b-1">YUVRAJ MEENA</b>
                        <p>Frontend Devloper</p>
                        <a href="https://www.linkedin.com/in/yuvraj-undefined-a52b8b348" target="_blank"><i
                                class="fa-brands fa-linkedin" style="font-size: 35px;"></i></a>
                    </div>
                </div>
                <div class="heading">
                    <h2 style="color: #7d7816;">Our Client & Mentor...</h2>
                    <img src="/static/line_pic.png" alt="pic of line" style="margin-top: -8px;margin-left: -26px;"
                        class="lineimg">
                </div>
                <div class="profile-grid">
                    <div class="card">
                        <img src="/static/client.png" alt="leader_img" class="climg">
                        <b class="b-1">MEHUL MAHRISHI</b>
                        <p>Client</p>
                        <a href="https://www.linkedin.com/in/mehul-mahrishi-phd-30979026/" target="_blank"><i class="fa-brands fa-linkedin"
                                style="font-size: 35px;"></i></a>
                    </div>
                    <div class="card">
                        <img src="/static/cli1.png" alt="leader_img" class="climg">
                        <b class="b-1" style="font-size: 14px;">ASHISH PANT</b>
                        <p>Client</p>
                        <a href="mailto:ashish.pant@skit.ac.in" target="_blank"><i
                                class="fa-brands fa-linkedin" style="font-size: 35px;"></i></a>
                    </div>
                    <div class="card">
                        <img src="/static/cli2.png" alt="leader_img" class="climg">
                        <b class="b-1" style="font-size: 14px;">MANISH BHARADWAJ</b>
                        <p>Mentor</p>
                        <a href="https://www.linkedin.com/in/manish-bhardwaj-17303954/" target="_blank"><i
                                class="fa-brands fa-linkedin" style="font-size: 35px;"></i></a>
                    </div>

                </div>
            </div>
            </div>
            </div>
    </div>
</div>

{% endblock %}