{% extends 'base.html' %}

{% block content %}

<style>
    .bg-indigo-600 {
        border-radius: 500px;
        --tw-bg-opacity: 1;
        background-color: rgb(79 70 229 / var(--tw-bg-opacity));
        border-left: 1px blue;
    }
</style>
<div class="col-10">
    <div class="container-fluid mt-3 mb-3 ">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card p-3" style = "box-shadow: 5px 5px 10px 5px lightgray">
                    <div class="d-flex justify-content-between">
                        <div class="batch-heading">
                            <h2><b>{{batch_details.batch}}</b></h2>
                            <h5>{{batch_details.subject}}</h5>
                        </div>
                        <div class="academic-year">
                            <h5>Academic Year</h5>
                            <h4>2024-25</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 bg-indigo-600">
                            <h5>Total Students</h5>
                            <h4><b>{{count}}</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}