{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/dataTable.css">
<script src="/static/dataTables.js"></script>
<script src="/static/dataTables.bootstrap5.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.bootstrap5.min.css">
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
<style>
     th {
        white-space: nowrap;
     }
    .tab-hidden {
        visibility: hidden !important;
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
        display: block !important; /* Keep it 'block' so width is calculated */
    }

    table.dataTable thead th:last-child {
        {% if user == 'ad' or user == 'spa' %}
        position: sticky;
        right: 0;
        z-index: 10; /* Keep on top of other headers */
        background-color: #000000;
        box-shadow: -2px 0px 5px rgba(0,0,0,0.1); /* Optional shadow for depth */
        {% endif %}
    }
    
    /* Fix the Last Column in the Body */
    table.dataTable tbody td:last-child {
        {% if user == 'ad' or user == 'spa' %}
        position: sticky;
        right: 0;
        z-index: 9;
        background-color: #fff; /* MUST be set, or text will overlap transparently */
        box-shadow: -2px 0px 5px rgba(0,0,0,0.1); /* Optional shadow */
        {% endif %}
    }
</style>
<div class="col-10">
    <div class="container ms-5 mt-4 mb-3">
        <ul class="nav nav-tabs" role="tablist">
            <li><button class="nav-link active" onclick="openTab(event, 'non-teaching')">Non-Teaching Staff Profile</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'fdp')">Faculty Participation</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'msc')">MOOC/Short-Term Courses</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'events')">Events</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'faa')">Awards & Achievments</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'sgc')">Sponsored Research/Grant</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'rpj')">Research Publication-Journal</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'rpcp')">Research Publication-Conference</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'rpb')">Research Publication-Book</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'patent')">Patents</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'mp')">M.Tech/Ph.D Guided</button></li>
            <li><button class="nav-link" onclick="openTab(event, 'rp')">Resource Person</button></li>
        </ul>
        <div class="tab-content pt-2" id="non-teaching">
            <table class = "table table-hover mt-3" id="form_table_non_teaching">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Session</th>
                        <th>Name</th>
                        <th>Mobile No.</th>
                        <th>Department</th>
                        <th>Lab No.</th>
                        <th>Designation</th>
                        <th>Employee ID</th>
                        <th>Highest Qualification</th>
                        <th>University Name</th>
                        <th>Passing Year of Highest degree</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Higher Degree Certificate(Date of award)</th>
                        {% endif %}
                        <th>Professional Courses</th>
                        <th>PAN No.</th>
                        <th>Date of Birth</th>
                        <th>Joining Date(MM, DD, YYYY)</th>
                        <th>Promotion Date(If any)</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Joining Report</th>
                        <th>Offer Letter (Appointment Letter)</th>
                        <th>Salary Slip (Recently)</th>
                        <th>If Awards and recognition received for extension activities (Upload Certificate)</th>
                        <th>The above-mentioned information is correct best to my knowledge</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in non_teaching %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.session}}</td>
                        <td>{{value.name}}</td>
                        <td>{{value.mobile_no}}</td>
                        <td>{{value.get_department_display}}</td>
                        <td>{{value.Lab_no}}</td>
                        <td>{{value.get_designation_display}}</td>
                        <td>{{value.emp_id}}</td>
                        <td>{{value.get_highest_qual_display}}</td>
                        <td>{{value.university_name}}</td>
                        <td>{{value.pshd}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.higher_degree_certificate}}" target = "_blank" class = "text-info">Click Here</a></td>
                        {% endif %}
                        <td>{{value.professional_display_list|join:", "}}</td>
                        <td>{{value.pan_no}}</td>
                        <td>{{value.dob|date:'d-m-Y'}}</td>
                        <td>{{value.joining_date|date:'d-m-Y'}}</td>
                        <td>{{value.promotion_date|date:'d-m-Y'}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.joining_report}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "/media/{{value.offer_letter}}" target = "_blank" class = "text-info">Click Here</a></td>
                        {% if value.salary_slip %}
                        <td><a href = "/media/{{value.salary_slip}}" target = "_blank" class = "text-info">Click Here</a></td>
                        {% else %}
                        <td>No File Uploaded</td>
                        {% endif %}
                        {% if value.certificate %}
                        <td><a href = "/media/{{value.certificate}}" target = "_blank" class = "text-info">Click Here</a></td>
                        {% else %}
                        <td>No File Uploaded</td>
                        {% endif %}
                        <td>I Agree</td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "16" data-pk = "{{value.pk}}" data-emp-id = "{{value.emp_id}}" data-head-main = "Employee Name" data-head-main-entry = "{{value.name}}" data-sub-head = "Employee Email" data-sub-head-entry = "{{value.email}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content pt-2 tab-hidden" id="fdp">
            <table class = "table table-hover mt-3" id="form_table_fdp">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Employee ID</th>
                        <th>Department</th>
                        <th>Name of Faculty Member</th>
                        <th>Title Of Program</th>
                        <th>Conference/FDP/ Workshop/Seminar/ STTP</th>
                        <th>Mode</th>
                        <th>Level</th>
                        <th>Organizer</th>
                        <th>Sponsored By</th>
                        <th>Grant Recieved from SKIT (Yes/No)</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Session</th>
                        <th>No. of Days</th>
                        <th>Proof Enclosed (Yes/No)</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Uploaded Certificate/Proof</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in fdp1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.email.emp_id}}</td>
                        <td>{{value.email.get_department_display}}</td>
                        <td>{{value.email.name}}</td>
                        <td>{{value.top}}</td>
                        <td>{{value.get_category_display}}</td>
                        <td>{{value.get_mode_display}}</td>
                        <td>{{value.get_level_display}}</td>
                        <td>{{value.organizer}}</td>
                        <td>{{value.sponsors}}</td>
                        <td>{{value.get_approval_display}}</td>
                        <td>{{value.begi_date}}</td>
                        <td>{{value.end_date}}</td>
                        <td>{{value.session}}</td>
                        <td>{{value.no_of_days}}</td>
                        <td>{{value.get_proof_enclosed_display}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.proof_file}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "1" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Name of Faculty Member" data-head-main-entry = "{{value.email.name}}" data-sub-head = "Title of Program" data-sub-head-entry = "{{value.top}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content pt-2 tab-hidden" id="msc">
            <table class = "table table-hover mt-3" id="form_table_msc">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Session</th>
                        <th>Name of Faculty Member</th>
                        <th>Employee ID</th>
                        <th>Department</th>
                        <th>Type of Course</th>
                        <th>Timeline of course</th>
                        <th>Name of the Course</th>
                        <th>Duration of Course</th>
                        <th>Start Date of Course</th>
                        <th>End Date of Course</th>
                        <th>Offering Agency/ Organizer</th>
                        <th>Certificate Type</th>
                        <th>Any category from below</th>
                        <th>Remarks(if any)</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Uploaded Certificate</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in msc1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.get_session_display}}</td>
                        <td>{{value.email.name}}</td>
                        <td>{{value.email.emp_id}}</td>
                        <td>{{value.email.get_department_display}}</td>
                        <td>{{value.get_category_display}}</td>
                        <td>{{value.timeline}}</td>
                        <td>{{value.noc}}</td>
                        <td>{{value.get_doc_display}}</td>
                        <td>{{value.begi_date}}</td>
                        <td>{{value.end_date}}</td>
                        <td>{{value.offer}}</td>
                        <td>{{value.get_ctype_display}}</td>
                        <td>{{value.get_topper_in_display}}</td>
                        <td>{{value.remarks}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.proof_file}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "2" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Name of Faculty Member" data-head-main-entry = "{{value.email.name}}" data-sub-head = "Name of the Course" data-sub-head-entry = "{{value.noc}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content pt-2 tab-hidden" id="events">
            <table class = "table table-hover mt-3" id="form_table_events">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Start Date of the Event</th>
                        <th>End Date of the Event</th>
                        <th>Event organized for</th>
                        <th>Type of Event</th>
                        <th>Name of Faculty Coordinator(s)</th>
                        <th>Title of the Professional Development Program Organized</th>
                        <th>No. of participants</th>
                        <th>Academic Department/ Cell / Committees/ Labs /COE </th>
                        <th>Academic Session</th>
                        <th>Sponsored/Non Sponsored</th>
                        <th>Name of Sponsoring Agency(if Sponsored)</th>
                        <th>Collaboration Details</th>
                        <th>Grant Received(Yes/No)</th>
                        <th>Grant Details</th>
                        <th>Association with professional societies for organization of event</th>
                        <th>Number of SKIT students participated (Provide list of students with their RTU roll no. & Certificates)</th>
                        <th>Number of staff member participated (Provide list of staff members with  their EMPLOYEE ID & Certificates)</th>
                        <th>Event report attached in proper format(Yes/No)</th>
                        <th>Any Other Remark</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Upload Event Report</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in eod1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.begi_date}}</td>
                        <td>{{value.end_date}}</td>
                        <td>{{value.eof_display_list|join:", "}}</td>
                        <td>{{value.get_category_display}}</td>
                        <td>{{value.nofc}}</td>
                        <td>{{value.topdpo}}</td>
                        <td>{{value.nop}}</td>
                        <td>{{value.adcc}}</td>
                        <td>{{value.get_session_display}}</td>
                        <td>{{value.get_ct_display}}</td>
                        <td>{{value.nosa}}</td>
                        <td>{{value.cd}}</td>
                        <td>{{value.get_gr_display}}</td>
                        <td>{{value.gd}}</td>
                        <td>{{value.awpsfooe}}</td>
                        <td>{{value.nossp}}</td>
                        <td>{{value.nosmp}}</td>
                        <td>{{value.get_eraipf_display}}</td>
                        <td>{{value.remarks}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.proof_file}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "3" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Name of the Faculty Coordinator" data-head-main-entry = "{{value.nofc}}" data-sub-head = "Title of the Professional Development Program Organized" data-sub-head-entry = "{{value.topdpo}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content table-responsive pt-2 tab-hidden" id="faa">
            <table class = "table table-hover mt-3" id="form_table_faa">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Session</th>
                        <th>Faculty Name</th>
                        <th>Employee ID</th>
                        <th>Designation</th>
                        <th>Department</th>
                        <th>Name of Award/Achievement</th>
                        <th>Category</th>
                        <th>Position / Award For</th>
                        <th>Agency / Organization</th>
                        <th>Prize</th>
                        <th>Award Date</th>
                        <th>Remark</th>
                        <th>All information filled by me is correct and I will submit proof and other related document whenever is asked</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Upload Award Certificate/Proof</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in faa1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.get_session_display}}</td>
                        <td>{{value.email.name}}</td>
                        <td>{{value.email.emp_id}}</td>
                        <td>{{value.email.get_designation_display}}</td>
                        <td>{{value.email.get_department_display}}</td>
                        <td>{{value.noaa}}</td>
                        <td>{{value.get_category_display}}</td>
                        <td>{{value.paf}}</td>
                        <td>{{value.ao}}</td>
                        <td>{{value.prize}}</td>
                        <td>{{value.ad}}</td>
                        <td>{{value.remark}}</td>
                        <td>I AGREE</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.proof_file}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "4" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Faculty Name" data-head-main-entry = "{{value.email.name}}" data-sub-head = "Name of Award/Achievement" data-sub-head-entry = "{{value.noaa}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content pt-2 tab-hidden" id="sgc">
            <table class = "table table-hover mt-3" id="form_table_sgc">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Name of Candidate (PI/Co PI) </th>
                        <th>Employee ID</th>
                        <th>Department</th>
                        <th>Category</th>
                        <th>Name of the Funding Agency(MSME/DST/CSIR/SERB /Industry etc.) </th>
                        <th>Duration of Project (in Years)</th>
                        <th>Amount in Rs.</th>
                        <th>Session in which grant/research project/consultancy received </th>
                        <th>Status</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Upload Proof</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in sgc1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.email.name}}</td>
                        <td>{{value.email.emp_id}}</td>
                        <td>{{value.email.get_department_display}}</td>
                        <td>{{value.get_category_display}}</td>
                        <td>{{value.nofa}}</td>
                        <td>{{value.dop}}</td>
                        <td>{{value.amount}}</td>
                        <td>{{value.get_session_display}}</td>
                        <td>{{value.get_status_display}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.proof_file}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "5" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Name of Candidate (PI/Co PI)" data-head-main-entry = "{{value.email.name}}" data-sub-head = "Name of the Funding Agency" data-sub-head-entry = "{{value.nofa}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content pt-2 tab-hidden" id="rpj">
            <table class = "table table-hover mt-3" id="form_table_rpj">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Employee ID</th>
                        <th>Name of the author(s)</th>
                        <th>Department</th>
                        <th>Title of Paper</th>
                        <th>Name of Journal</th>
                        <th>Name of the Publisher</th>
                        <th>Volume, Issue</th>
                        <th>Page No.</th>
                        <th>Published Date</th>
                        <th>Session</th>
                        <th>ISSN number : Print</th>
                        <th>ISSN number : Online</th>
                        <th>Level (National/ International)</th>
                        <th>DOI(Digital Object Identifier)</th>
                        <th>Link to website of the Journal</th>
                        <th>Link to article/paper/abstract of the article (Direct link to the webpage where the abstract of paper is displayed)</th>
                        <th>Link to the recognition in SCOPUS enlistment of the Journal</th>
                        <th>Affiliating Institute at the time of publication</th>
                        <th>Indexed by</th>
                        <th>Quartile</th>
                        <th>Is SKIT student associated?</th>
                        <th>If Yes , Write student(s) details (Program, Branch, RollNo/EnrollNo, Name) </th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Uploaded Full Paper</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in rpj1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.email.emp_id}}</td>
                        <td>{{value.noa}}</td>
                        <td>{{value.email.get_department_display}}</td>
                        <td>{{value.top}}</td>
                        <td>{{value.noj}}</td>
                        <td>{{value.nop}}</td>
                        <td>{{value.vi}}</td>
                        <td>{{value.pn}}</td>
                        <td>{{value.pd}}</td>
                        <td>{{value.get_session_display}}</td>
                        <td>{{value.isnp}}</td>
                        <td>{{value.isno}}</td>
                        <td>{{value.get_level_display}}</td>
                        <td>{{value.doi}}</td>
                        <td>{{value.lwj}}</td>
                        <td>{{value.lap}}</td>
                        <td>{{value.lrsj}}</td>
                        <td>{{value.aiop}}</td>
                        <td>{{value.get_index_by_display}}</td>
                        <td>{{value.get_quartile_display}}</td>
                        <td>{{value.get_ssa_display}}</td>
                        <td>{{value.details}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.proof_file}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "6" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Name of the author(s)" data-head-main-entry = "{{value.noa}}" data-sub-head = "Title of Paper" data-sub-head-entry = "{{value.top}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content pt-2 tab-hidden" id="rpcp">
            <table class = "table table-hover mt-3" id="form_table_rpcp">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Department</th>
                        <th>Employee ID</th>
                        <th>Name of the author(s)</th>
                        <th>Title of Conference</th>
                        <th>Title of Paper</th>
                        <th>Title of the proceedings of the conference</th>
                        <th>Level (National/ International)</th>
                        <th>ISBN/ISSN number of the proceeding</th>
                        <th>Name of the Publisher</th>
                        <th>Published Date</th>
                        <th>Session</th>
                        <th>DOI(Digital Object Identifier)</th>
                        <th>Web Link</th>
                        <th>Affiliating Institute at the time of publication</th>
                        <th>Indexed by</th>
                        <th>Is SKIT student associated?</th>
                        <th>If Yes , Write student(s) details (Program, Branch, RollNo/EnrollNo, Name)</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Upload Full Paper</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in rpcp1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.email.get_department_display}}</td>
                        <td>{{value.email.emp_id}}</td>
                        <td>{{value.noa}}</td>
                        <td>{{value.toc}}</td>
                        <td>{{value.top}}</td>
                        <td>{{value.topc}}</td>
                        <td>{{value.get_level_display}}</td>
                        <td>{{value.isnp}}</td>
                        <td>{{value.nop}}</td>
                        <td>{{value.pd}}</td>
                        <td>{{value.get_session_display}}</td>
                        <td>{{value.doi}}</td>
                        <td>{{value.lwj}}</td>
                        <td>{{value.aitp}}</td>
                        <td>{{value.get_index_by_display}}</td>
                        <td>{{value.get_ssa_display}}</td>
                        <td>{{value.details}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.proof_file}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "7" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Name of the author(s)" data-head-main-entry = "{{value.noa}}" data-sub-head = "Title of Conference" data-sub-head-entry = "{{value.toc}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content pt-2 tab-hidden" id="rpb">
            <table class = "table table-hover mt-3" id="form_table_rpb">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Department</th>
                        <th>Employee ID</th>
                        <th>Name of the author/editor</th>
                        <th>Title of the book</th>
                        <th>Title of the chapter Published</th>
                        <th>Level (National/ International)</th>
                        <th>ISBN</th>
                        <th>Name of the Publisher</th>
                        <th>Published Date</th>
                        <th>Session</th>
                        <th>DOI(Digital Object Identifier)</th>
                        <th>Web Link</th>
                        <th>Affiliating Institute at the time of publication</th>
                        <th>Indexed by</th>
                        <th>Is SKIT student associated?</th>
                        <th>If Yes , Write student(s) details (Program, Branch, RollNo/EnrollNo, Name)</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Uploaded Proof (Book Chapter/Front Page/Document etc.)</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in rpb1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.email.get_department_display}}</td>
                        <td>{{value.email.emp_id}}</td>
                        <td>{{value.noa}}</td>
                        <td>{{value.tob}}</td>
                        <td>{{value.top}}</td>
                        <td>{{value.get_level_display}}</td>
                        <td>{{value.isbn}}</td>
                        <td>{{value.nop}}</td>
                        <td>{{value.pd}}</td>
                        <td>{{value.get_session_display}}</td>
                        <td>{{value.doi}}</td>
                        <td>{{value.lwj}}</td>
                        <td>{{value.aitp}}</td>
                        <td>{{value.get_index_by_display}}</td>
                        <td>{{value.get_ssa_display}}</td>
                        <td>{{value.details}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.proof_file}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "8" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Name of the author/editor" data-head-main-entry = "{{value.noa}}" data-sub-head = "Title of the book" data-sub-head-entry = "{{value.tob}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content pt-2 tab-hidden" id="patent">
            <table class = "table table-hover mt-3" id="form_table_patent">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Session</th>
                        <th>Department</th>
                        <th>Employee ID</th>
                        <th>Name of Faculty</th>
                        <th>Status of Patent</th>
                        <th>Application ID</th>
                        <th>Granted ID</th>
                        <th>Type of Patent</th>
                        <th>Title of Patent</th>
                        <th>Granted Country</th>
                        <th>Patent Filed Date</th>
                        <th>Publication Date</th>
                        <th>Is SKIT student associated?</th>
                        <th>If Yes , Write student(s) details (Program, Branch, RollNo/EnrollNo, Name)</th>
                        <th>Link</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Upload Proof</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in patents1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.get_session_display}}</td>
                        <td>{{value.email.get_department_display}}</td>
                        <td>{{value.email.emp_id}}</td>
                        <td>{{value.email.name}}</td>
                        <td>{{value.get_sop_display}}</td>
                        <td>{{value.ag}}</td>
                        <td>{{value.gi}}</td>
                        <td>{{value.get_pg_display}}</td>
                        <td>{{value.top}}</td>
                        <td>{{value.gc}}</td>
                        <td>{{value.pfd}}</td>
                        <td>{{value.pd}}</td>
                        <td>{{value.get_ssa_display}}</td>
                        <td>{{value.details}}</td>
                        <td>{{value.link}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.proof_file}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "9" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Name of Faculty" data-head-main-entry = "{{value.email.name}}" data-sub-head = "Title of Patent" data-sub-head-entry = "{{value.top}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content pt-2 tab-hidden" id="mp">
            <table class = "table table-hover mt-3" id="form_table_mp">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Session</th>
                        <th>Faculty Name</th>
                        <th>Employee ID</th>
                        <th>Department</th>
                        <th>Name of the student Guided</th>
                        <th>Program of Student</th>
                        <th>Enrollment Number of Student</th>
                        <th>University Roll Number of Student</th>
                        <th>Enrollment Year of Student</th>
                        <th>Title of the Dissertation</th>
                        <th>Supervisor / Co-supervisor</th>
                        <th>Date of Viva-Voce</th>
                        <th>Name of external examiner</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in mp1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.session}}</td>
                        <td>{{value.email.name}}</td>
                        <td>{{value.email.emp_id}}</td>
                        <td>{{value.email.get_department_display}}</td>
                        <td>{{value.nos}}</td>
                        <td>{{value.get_category_display}}</td>
                        <td>{{value.ens}}</td>
                        <td>{{value.urns}}</td>
                        <td>{{value.get_eys_display}}</td>
                        <td>{{value.tod}}</td>
                        <td>{{value.get_visor_display}}</td>
                        <td>{{value.dov}}</td>
                        <td>{{value.noe}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "10" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Faculty Name" data-head-main-entry = "{{value.email.name}}" data-sub-head = "Name of the student Guided" data-sub-head-entry = "{{value.nos}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-content pt-2 tab-hidden" id="rp">
            <table class = "table table-hover mt-3" id="form_table_rp">
                <thead class = "table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Timestamp</th>
                        <th>Email address</th>
                        <th>Session</th>
                        <th>Name of Faculty Member</th>
                        <th>Employee ID</th>
                        <th>Department</th>
                        <th>Resource Person in</th>
                        <th>Title of Event/ Exam Name</th>
                        <th>Subject Area/Subject Name/Lab Name/Session Name</th>
                        <th>Resource Person Type</th>
                        <th>Duration of event (in days)</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Venue</th>
                        {% if user == 'ad' or user == 'spa' %}
                        <th>Proof(Certificate/Mail)</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in rp1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{value.created_at|date:"d-m-Y H:i:s"}}</td>
                        <td>{{value.email.email}}</td>
                        <td>{{value.get_session_display}}</td>
                        <td>{{value.email.name}}</td>
                        <td>{{value.email.emp_id}}</td>
                        <td>{{value.email.get_department_display}}</td>
                        <td>{{value.get_category_display}}</td>
                        <td>{{value.toe}}</td>
                        <td>{{value.sa}}</td>
                        <td>{{value.get_rpt_display}}</td>
                        <td>{{value.doe}}</td>
                        <td>{{value.begi_date}}</td>
                        <td>{{value.end_date}}</td>
                        <td>{{value.venue}}</td>
                        {% if user == 'ad' or user == 'spa' %}
                        <td><a href = "/media/{{value.proof_file}}" target = "_blank" class = "text-info">Click Here</a></td>
                        <td><a href = "#" data-bs-toggle="modal" data-bs-target="#deleteUser" data-form_no = "11" data-pk = "{{value.pk}}" data-emp-id = "{{value.email.emp_id}}" data-head-main = "Name of Faculty Member" data-head-main-entry = "{{value.email.name}}" data-sub-head = "Title of Event/ Exam Name" data-sub-head-entry = "{{value.toe}}" style = "text-decoration: none; color: black;"><i class="fa-solid fa-trash-can"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mb-3 mt-3">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown">Download</button>
                <ul class="dropdown-menu">
                    <li id="excel-download"><a class="dropdown-item" href = "/download?file_type=fdc_dir_data">Excel</a></li>
                    <li id="csv-download"><a class="dropdown-item" href="/download?file_type=fdc_dir_data">CSV</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        <!-- The Delete Modal -->
        <div class="modal fade" id="deleteUser">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header bg-danger">
                        <h4 class="modal-title text-white">Delete User Permanently</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                  <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to delete this entry permanently?
                        <p class ="mt-2"><strong>Employee Id: <span id = "modal-emp-id"></span></strong></p>
                        <p><strong><span id = "modal-head-main"></span>: <span id = "modal-entry-main"></span></strong></p>
                        <p><strong><span id = "modal-sub-head"></span>: <span id = "modal-sub-entry"></span></strong></p>
                    </div>

                  <!-- Modal footer -->
                    <div class="modal-footer">
                        <form action="/deleteformdata/report" method="POST">
                            {% csrf_token %}
                            <div class="dflex justify-content-end">
                                <input type = "hidden" id="pk" name = "pk" value = "">
                                <input type = "hidden" id="form_no" name = "form_no" value = "">
                                <button type="button" class = "btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete Entry</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Model Ends -->

<script>
    const table = new DataTable('#form_table_non_teaching', {
        paging: false,
        scrollY: '260px',
        scrollX: true
    });

    const table1 = new DataTable('#form_table_faa', {
        paging: false,
        scrollY: '260px',
        scrollX: true,
    });

    const table2 = new DataTable('#form_table_events', {
        paging: false,
        scrollY: '260px',
        scrollX: true,
        
    });

    const table3 = new DataTable('#form_table_fdp', {
        paging: false,
        scrollY: '260px',
        scrollX: true
    });

    const table4 = new DataTable('#form_table_mp', {
        paging: false,
        scrollY: '260px',
        scrollX: true
    });

    const table5 = new DataTable('#form_table_msc', {
        paging: false,
        scrollY: '260px',
        scrollX: true
    });

    const table6 = new DataTable('#form_table_patent', {
        paging: false,
        scrollY: '260px',
        scrollX: true
    });

    const table7 = new DataTable('#form_table_rpb', {
        paging: false,
        scrollY: '260px',
        scrollX: true
    });

    const table8 = new DataTable('#form_table_rpcp', {
        paging: false,
        scrollY: '260px',
        scrollX: true
    });

    const table9 = new DataTable('#form_table_rpj', {
        paging: false,
        scrollY: '260px',
        scrollX: true
    });

    const table10 = new DataTable('#form_table_rp', {
        paging: false,
        scrollY: '260px',
        scrollX: true
    });

    const table11 = new DataTable('#form_table_sgc', {
        paging: false,
        scrollY: '260px',
        scrollX: true
    });

    function openTab(evt, containerId) {
        document.querySelectorAll(".tab-content").forEach(tab => {
            tab.style.display = ""; // clear inline style
            tab.classList.remove("active");
            tab.classList.add("tab-hidden");
        });

        document.querySelectorAll(".nav-link").forEach(btn => {
            btn.classList.remove("active");
        });

        const activeContainer = document.getElementById(containerId);
        activeContainer.classList.remove("tab-hidden");
        activeContainer.classList.add("active");
        evt.currentTarget.classList.add("active");

    }

    $(document).ready(function() {
        $('#deleteUser').on('show.bs.modal', function(event) {
            var link =  $(event.relatedTarget);
            var faculty_id = link.data('empId');
            var pk = link.data('pk');
            var form_no = link.data('form_no');
            var heading_main = link.data('headMain');
            var heading_main_entry = link.data('headMainEntry');
            var heading_sub_head = link.data('subHead');
            var heading_sub_head_entry = link.data('subHeadEntry');
            var modal = $(this);
            modal.find('#modal-emp-id').text(faculty_id);
            modal.find('#modal-head-main').text(heading_main);
            modal.find('#modal-entry-main').text(heading_main_entry);
            modal.find('#modal-sub-head').text(heading_sub_head);
            modal.find('#modal-sub-entry').text(heading_sub_head_entry);
            modal.find('#pk').val(pk);
            modal.find('#form_no').val(form_no);
        });
    });

</script>

{% endblock %}