{% extends 'base.html' %}

{% block content %}

<style>
    .bg-gray-50 {
        --tw-bg-opacity: 1;
        background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    }
</style>
<div class="col">
    <div class="container ms-2 mt-3 mb-3">
        <div class="row d-flex justify-content-end">
            <button type="button" class="btn btn-success mt-2 me-2 d-flex" data-bs-toggle="modal"
                data-bs-target="#add_email" style="width: 117px;"><i
                    class="fa-solid fa-add mt-1"></i>Add Email</button>
        </div>
        <table class="table table-hover mt-3">
        <thead class = "table-dark">
            <tr>
              <th>Name</th>
              <th>Roll No.</th>
              <th>College ID</th>
              <th>Email ID</th>
              <th>Student Phone No.</th>
              <th>Parent Phone No.</th>
              <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for value in stu_data %}
            <tr>
              <td>{{value.name}}</td>
              <td>{{value.roll_no}}</td>
              <td>{{value.college_id}}</td>
              <td>{{value.email}}</td>
              <td>{{value.student_phone_no}}</td>
              <td>{{value.parent_phone_no}}</td>
              <td>{{value.address}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
        <div class="d-flex justify-content-center mb-3 mt-3">
        <div class="dropdown">
            <!-- <i class = "fa-solid fa-file-arrow-down dropdown-toggle" data-bs-toggle="dropdown"></i> -->
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload_file">Upload Excel
                File</button>
            <button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown">Download</button>
            <ul class="dropdown-menu">
                <li id="excel-download"><a class="dropdown-item">Excel</a></li>
                <li id="csv-download"><a class="dropdown-item" href="assets/php/download.php?file_type=csv1">CSV</a>
                </li>
            </ul>
        </div>
    </div>
    <form action="/upload_excel" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="upload_file" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- modal header -->
                    <div class="modal-header">
                        <h4 class="modal-title custom-font">Upload Excel File</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body">
                        <label for="excel_file" class="form-label">Upload Excel File</label>
                        <div>
                            <input type="file" id = "excel_file"  name="excel_file" class="m-3" accept=".xlsx,.xlsm" required>
                            <button type="submit" class="btn btn-primary rounded-pill">Upload File</button>
                        </div>
                        <div>
                            <a href="assets/image/faculty_emails_snapshot.png" target="_blank">Click here to view the excel
                                format to upload</a>
                        </div>
                    </div>
                    <!-- modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form action="assets/php/add_email.php" method="POST" enctype="multipart/form-data">
        <div class="modal fade" id="add_email" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- modal header -->
                    <div class="modal-header">
                        <h4 class="modal-title custom-font">New Mail Entry</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body">
                        <label for="new_email" class="form-label">Enter new Email</label>
                        <div class="d-flex">
                            <input type="text" id = "new_email" name="new_email" required>
                            <button type="submit" class="btn btn-primary rounded-pill ms-auto" style = "width: 20%;">Add</button>
                        </div>
                    </div>
                    <!-- modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>

{% endblock %}