{% extends 'base.html' %}

{% block content %}

<style>
    .adjust {
        height: 100px;
        width: 125px;
        margin-left: 285px;
        margin-top: 175px;
    }
    .custom-css {
        margin-left: 250px;
        height: 500px;
        width: 700px;
        background-color: #D4EDDA;
        border-radius: 20px;
        box-shadow: 10px 5px 5px 5px lightgray;
    }
</style>
<div class="col-10 ms-3">
    <div class = "col mt-3 ms-5 me-5 p-5" id = 'display'>
        <div class="row mt-5 me-5 custom-css">
            <img src = "/static/success_image.png" class = "adjust">
            <h2 class = "text-center edit">Forms Submitted Successfully!</h2>
            <a style = "margin-left: 225px; margin-top: 50px;" href = "{% url 'home' %}" id = "manualRedirectLink">Click here to go to your dashboard</a>
        </div>
    </div>

    <script>
        const redirectURL = '/';
        const delay = 3000;

        function autoRedirect() {
            window.location.href = redirectURL;
        }

        setTimeout(autoRedirect, delay);

    </script>
</div>

{% endblock %}